trigger:
- master

stages:
- stage: Build
  jobs:
  - job: BuildModules
    pool:
      vmImage: 'windows-2019'
    steps:
    - task: PowerShell@2
      displayName: Prepare Pipeline Agent
      enabled: true
      inputs:
        filePath: "Prepare-PipelineAgent.ps1"
        pwsh: true
    - task: PowerShell@2
      displayName: PSBuild Modules
      enabled: true
      inputs:
        filePath: "Build-PSSolution.ps1"
        pwsh: true
    - task: PublishPipelineArtifact@0
      displayName: Pulbish Artifact
      enabled: true
      inputs:
        artifactName: psmodules
        targetpath: '.\'
- stage: Release
  jobs:
  - deployment: DeployToPSGallery
    environment: PSGallery
    pool:
      vmImage: 'windows-2019'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            displayName: Download Artifact
            enabled: true
            inputs:
              buildType: current
              path: $(System.ArtifactsDirectory)
          - task: PowerShell@2
            displayName: Prepare Pipeline Agent
            enabled: true
            inputs:
              filePath: '$(System.ArtifactsDirectory)\psmodules\Prepare-PipelineAgent.ps1'
              pwsh: true
          - task: PowerShell@2
            displayName: PSPublish Modules
            enabled: true
            inputs:
              filePath: '$(System.ArtifactsDirectory)\psmodules\Publish-PSSolution.ps1'
              arguments: '-PSGalleryApiKey $(PSGalleryApiKey)'
              pwsh: true